.header{
    height: 55px;
    line-height: 55px;
    background: black;
    color: white;
}
.headerLeft{
    float: left;
}
.headerRight{
    height: 100%;
    line-height: 55px;
    float: right;
}
.headerRight img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.navs{
    display: flex;
    
}

.navs li {
    margin-left: 20px;
    cursor: pointer;
}

.navs li button{
    background: #abcdef;
    padding: 6px 8px;
    border-radius: 8px;
}